<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberInfoMapper">
    
    
     <select id="selectUserInfo" parameterType="com.ims.usr.vo.MemberVo" resultType="HashMap">
        select
            *
        from
            TB_MEMBER
        WHERE EMAIL = #{email}
    </select>
    
    <select id="selectOneLoadUser" parameterType="com.ims.usr.vo.MemberVo" resultType="com.ims.usr.vo.MemberVo">
        select
            email,
            role
        from
            TB_MEMBER
        WHERE EMAIL = #{email}
    </select>
    
    <insert id="insertUserInfo" parameterType="com.ims.usr.vo.MemberVo" >
    	INSERT INTO TB_MEMBER(
    		email, 
    		password, 
    		role, 
    		username,
    		frstdt,
    		frstid
    	) VALUES(
    		#{email},
    		#{password},
    		'ROLE_USER',
    		#{username},
    		NOW(),
    		NOW()    	
    	)
    	
    	
    	
    </insert>
</mapper>